import /init.trustme_generic.rc

on init
    loglevel 7 # this *only* affects init, not ueventd etc.!

on load_system_props_action
   setprop service.adb.tcp.port 55550
   setprop service.adb.root 1

on fs
   mount_all fstab.x86
   mount ext4 /dev/block/sda /data

on post-fs-data
   mkdir /data/cml/communication 0755 root root
   mount tmpfs tmpfs /data/cml/communication mode=0755
   mount tmpfs tmpfs /tmp mode=0755

on boot
   ifup eth0

# overwrite adb service of init.trustme_generic.rc to allow selinux disabled
service adbd /sbin/adbd
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0
