# activate shell in recovery needed for adb shell
on init
    export PATH /bin:/sbin:/system/bin:
    mkdir /system/bin 0755 root shell
    chown root shell /sbin
    chown root shell /sbin/toolbox_static
    chmod /sbin/toolbox_static 0750
